//TODO czy to sie dodalo poprawnie ?
@import "../../node_modules/normalize.css/normalize.css";
@import "components/navigation.scss";
@import "components/footer.scss";
@import "components/article.scss";
@import "components/gridContainer.scss";
@import "components/image.scss";
@import "components/pageHeader.scss";
@import "components/hamburger.scss";
@import "components/header.scss";
@import "components/paragraph.scss";
@import "components/section.scss";
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Poiret+One&display=swap");
$whiteColor: white;
$fontFamily: "Poiret One", sans-serif;

$mobileVersion: 768px;

// :root {
//   --textColor: black;
//   --backgroundColor: rgb(204, 6, 231);
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --textColor: white;
//     --backgroundColor: black;
//   }
// }

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(166, 119, 166, 1) 100%
  );
  color: $whiteColor;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}
main {
  max-width: 768px;
  margin: 60px auto;

  @media screen and (max-width: $mobileVersion) {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
}
.special {
  color: beige;
  font-weight: 300;
  font-size: 30px;
}
table {
  width: 100%;
  text-align: center;
  caption {
    margin-bottom: 2rem;
  }
}
